body {
    display: flex;
    flex-direction: column;
    @import 'blocks/header';
    div.pagecontent-nav-cards {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        margin: 0 15%;
        position: relative;
        z-index: 3;
        .menu-component {
            display: flex;
            width: 100%;
            margin: 30px auto 0;
            span a {
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                color: #232323;
            }
            span.slash {
                padding: 0 10px;
            }
        }
        .category {
            padding: 8px 0;
            h1 {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                font-weight: 700;
                margin: 0;
                text-transform: uppercase;
            }
        }
        .navigation-components {
            display: flex;
            width: 100%;
            height: 35px;
            margin: 0 0 8px;
            max-width: 1440px;
            .navigation-component-item {
                display: block;
                text-align: center;
                padding: 11px 0;
                margin-right: 4px;
                a {
                    display: inline-block;
                    cursor: pointer;
                    text-decoration: none;
                    color: #232323;
                    div {
                        border: 1px solid #e5e5e5;
                        border-radius: 42px;
                        padding: 0 16px;
                        height: 32px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 12px;
                        font-weight: 600;
                    }
                }
                
            }
        }
        .filter-dropdown-menu {
            display: flex;
            justify-content: space-between;
            width: 75%;
            position: sticky;
            top: 60px;
            z-index: 4;
            background-color: #fff;
            margin-bottom: 32px;
            border-bottom: 1px solid #e5e5e5;
            .filter-dropdown-menu1 .dropdown {
                display: flex;
                button.dropdown-button {
                    padding: 8px 24px 8px 0;
                    width: auto;
                    text-align: left;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 1.5;
                    color: #232323;
                    height: 56px;
                    cursor: pointer;
                    background: transparent;
                    border: none;
                    .dropdown-btn {
                        display: inline-block;
                        padding: 0 0 0 4px;
                        margin: auto;
                        text-align: left;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 1.5;
                        color: #232323;
                        cursor: pointer;
                        svg {
                            width: 0.5em;
                            transition: transform .3s cubic-bezier(.645,.045,.355,1);
                            transform-origin: center;
                            transform: rotate(270deg);
                            height: 12px;
                            vertical-align: middle;
                            font-size: 22px;
                            text-align: left;
                        }
                    }
                .filter-options-size {
                    background-color: #fff;
                    border: 1px solid #e5e5e5;
                    text-align: left;
                    max-height: 400px;
                    position: absolute;
                    right: 0;
                    top: 56px;
                    left: 0;
                    padding: 18px 18px;
                    width: 500px;
                    display: none;
                    .sizes {
                        display: flex;
                        flex-direction: column;
                        .sizes-title span  {
                            font-weight: 600;
                            font-size: 14px;
                        }
                        .sizes-group {
                            .sizes-group-small {
                                display: flex;
                                flex-direction: row;
                                div.sizes-group-small-component {
                                    margin-right: 35px;
                                    #checkbox, #checkbox1, #checkbox2, #checkbox3, #checkbox4, #checkbox5 {
                                        display: none;
                                    }
                                    #checkbox#checkbox1#checkbox2#checkbox3#checkbox4#checkbox5 + label{
                                        display: flex;
                                    }
                                    #checkbox + label:before{
                                        content: url(../images/square2.png);
                                        margin-right: 5px;
                                        margin-top: 3px;
                                    }
                                    #checkbox:checked + label:before{
                                        content: url(../images/square3.png);
                                    }
                                    #checkbox1 + label:before{
                                        content: url(../images/square2.png);
                                        margin-right: 5px;
                                        margin-top: 3px;
                                    }
                                    #checkbox1:checked + label:before{
                                        content: url(../images/square3.png);
                                    }
                                    #checkbox2 + label:before{
                                        content: url(../images/square2.png);
                                        margin-right: 5px;
                                        margin-top: 3px;
                                    }
                                    #checkbox2:checked + label:before{
                                        content: url(../images/square3.png);
                                    }
                                    #checkbox3 + label:before{
                                        content: url(../images/square2.png);
                                        margin-right: 5px;
                                        margin-top: 3px;
                                    }
                                    #checkbox3:checked + label:before{
                                        content: url(../images/square3.png);
                                    }
                                    #checkbox4 + label:before{
                                        content: url(../images/square2.png);
                                        margin-right: 5px;
                                        margin-top: 3px;
                                    }
                                    #checkbox4:checked + label:before{
                                        content: url(../images/square3.png);
                                    }
                                    #checkbox5 + label:before{
                                        content: url(../images/square2.png);
                                        margin-right: 5px;
                                        margin-top: 3px;
                                    }
                                    #checkbox5:checked + label:before{
                                        content: url(../images/square3.png);
                                    }
                                }
        
                            }
                        }
                        
                    }
                }
                }
                button.dropdown-button:focus svg {
                    transform: rotate(90deg);
                }                
                button.dropdown-button:focus > .filter-options-size {
                    display: flex;
                }
                .filter-options-fit {
                    background-color: #fff;
                    border: 1px solid #e5e5e5;
                    text-align: left;
                    max-height: 400px;
                    position: absolute;
                    right: 0;
                    top: 56px;
                    left: 0;
                    padding: 18px 18px;
                    width: 500px;
                    display: none;
                    .fit {
                        display: flex;
                        flex-direction: column;
                        .fit-title span  {
                            font-weight: 600;
                            font-size: 14px;
                        }
                        .fit-group {
                            margin-top: 10px;;
                            .fit-group-elements {
                                display: flex;
                                flex-direction: row;
                                div.fit-group-component {
                                    margin-right: 35px;
                                    #checkbox6, #checkbox7 {
                                        display: none;
                                    }
                                    #checkbox6#checkbox7 + label{
                                        display: flex;
                                    }
                                    #checkbox + label:before{
                                        content: url(../images/square2.png);
                                        margin-right: 5px;
                                        margin-top: 3px;
                                    }
                                    #checkbox:checked + label:before{
                                        content: url(../images/square3.png);
                                    }
                                    #checkbox6 + label:before{
                                        content: url(../images/square2.png);
                                        margin-right: 5px;
                                        margin-top: 3px;
                                    }
                                    #checkbox6:checked + label:before{
                                        content: url(../images/square3.png);
                                    }
                                    #checkbox7 + label:before{
                                        content: url(../images/square2.png);
                                        margin-right: 5px;
                                        margin-top: 3px;
                                    }
                                    #checkbox7:checked + label:before{
                                        content: url(../images/square3.png);
                                    }
                                }
        
                            }
                        }
                    }
                }
                button.dropdown-button:focus > .filter-options-fit {
                    display: flex;
                }
                .filter-options-length {
                    background-color: #fff;
                    border: 1px solid #e5e5e5;
                    text-align: left;
                    max-height: 400px;
                    position: absolute;
                    right: 0;
                    top: 56px;
                    left: 0;
                    padding: 18px 18px;
                    width: 500px;
                    display: none;
                    .length {
                        display: flex;
                        flex-direction: column;
                        .length-title span  {
                            font-weight: 600;
                            font-size: 14px;
                        }
                        .length-group {
                            margin-top: 10px;;
                            .length-group-elements {
                                display: flex;
                                flex-direction: row;
                                div.length-group-component {
                                    margin-right: 35px;
                                    #checkbox8, #checkbox9, #checkbox10 {
                                        display: none;
                                    }
                                    #checkbox8#checkbox9#checkbox10  + label{
                                        display: flex;
                                    }
                                    #checkbox + label:before{
                                        content: url(../images/square2.png);
                                        margin-right: 5px;
                                        margin-top: 3px;
                                    }
                                    #checkbox:checked + label:before{
                                        content: url(../images/square3.png);
                                    }
                                    #checkbox8 + label:before{
                                        content: url(../images/square2.png);
                                        margin-right: 5px;
                                        margin-top: 3px;
                                    }
                                    #checkbox8:checked + label:before{
                                        content: url(../images/square3.png);
                                    }
                                    #checkbox9 + label:before{
                                        content: url(../images/square2.png);
                                        margin-right: 5px;
                                        margin-top: 3px;
                                    }
                                    #checkbox9:checked + label:before{
                                        content: url(../images/square3.png);
                                    }
                                    #checkbox10 + label:before{
                                        content: url(../images/square2.png);
                                        margin-right: 5px;
                                        margin-top: 3px;
                                    }
                                    #checkbox10:checked + label:before{
                                        content: url(../images/square3.png);
                                    }
                                }
        
                            }
                        }
                    }
                }
                button.dropdown-button:focus > .filter-options-length {
                    display: flex;
                }
            }
            .filter-dropdown-menu2 { 
                margin-top: 18px;  
                position: relative;
                .dropdown {
                    cursor: pointer;
                    padding-left: 5px;
                    span {
                        display: flex;
                        span.spanItems {
                            margin-right: 5px;
                            font-size: 14px;
                        }
                        button {
                            display: flex;
                            border: none;
                            padding: 0;
                            cursor: pointer;
                            overflow: visible;
                            background: transparent;
                            span.span-sort {
                                text-decoration: underline;
                                font-size: 14px;
                                 svg {
                                    overflow: visible;
                                    width: 0.5em;
                                    margin-left: 8px;
                                    margin-top: 7px;
                                    transition: transform .3s cubic-bezier(.645,.045,.355,1);
                                    transform-origin: center;
                                    transform: rotate(270deg);
                                    height: 12px;
                                    vertical-align: middle;
                                }
                            }
                            span.span-sort:hover > svg {
                                transform: rotate(90deg);
                            }
                        }
                    }
                }

            }
        }
        .filter-dropdown-menu-adapt {
            display: none;
        }
        .pagecontent {
            max-width: 1440px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: -10px 0 14px;
            position: relative;
            z-index: 2;
            
            .pagecontent-nav {
                width: 13%;
                height: 100%;
                position: sticky;
                top: 122px;
                padding-bottom: 80px;
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li {
                        list-style: none;
                        a {
                            width: 100%;
                            border: none;
                            background: none;
                            text-align: left;
                            padding-right: 25px;
                            display: block;
                            padding: 4px 0;
                            color: #232323;
                            font-weight: 400;
                            font-size: 13px;
                            margin-bottom: 4px;
                        }
                        ul {
                            margin-left: 12px;
                        }
                    }
                }
            }
            .cardshistory {    
                display: flex;
                flex-direction: column;
                width: 87%;
                .pagecontent-cards {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    width: 100%;
                    .card {
                        display: flex;
                        flex-direction: column;
                        width: 33%;
                        padding: 0 15px 0px;
                        margin: 0 0 25px;
                        border: none;
                        box-sizing: border-box;
                        a {
                            text-decoration: none;
                            cursor: pointer;
                            box-sizing: border-box;
                            div.imgbtn {
                                display: flex;
                                justify-content: center;
                                position: relative;
                                cursor: pointer;
                                .btnQuick { 
                                    display: none; 
                                    align-self: center;
                                    button {
                                        position: absolute;
                                        bottom: 4px;
                                        left: -7px;
                                        width: 98%;
                                        height: 56px;
                                        z-index: 1;
                                        opacity: .8;
                                        background-color: #fff;
                                        color: #232323;
                                        border: 1px solid transparent;
                                        font-style: normal;
                                        font-weight: 700;
                                        text-transform: capitalize;
                                        font-size: 14px;
                                        padding: 0 24px;
                                        margin: 0 10px 2px;
                                    }
                                }
                                .card1-img1 {
                                    width: 100%;
                                    justify-content: center;
                                    height: auto;
                                    img {
                                        width: 100%;
                                    }
                                }
                                .card2-img2 {
                                    position: absolute;
                                    top: 0;
                                    display: none;
                                    width: 100%;
                                    height: auto;
                                    img {
                                        width: 100%;
                                    }
                                }
                                
                            }
                            .imgbtn:hover > .btnQuick {
                                    display: block;
                                    z-index: 1;
                                }
                            .imgbtn:hover > .card2-img2 {
                                    display: block;
                                } 
                            .card-description1 {
                                padding: 0 8px;
                                margin-top: 15px;
                                display: flex;
                                justify-content: space-between;
                                cursor: pointer;
                                font-weight: 600;
                                font-size: 14px;
                                color: #232323;
                                position: relative;
                                .price {
                                    display: flex;
                                    flex-direction: column;
                                    position: absolute;
                                    right: 5px;
                                    .price-red {
                                        color: #d72b00;
                                    }
                                    .price-grey {
                                        color: #707070;
                                        text-decoration: line-through;
                                    }

                                }
                            }
                        }
                        .card-description2 {
                        padding: 0 8px;
                        p {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 1.5;
                            color: #232323;
                            margin: 0 0 8px;
                        }
                        }
                        .card-description3 {
                        padding: 0 8px;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 1.5;
                        color: #707070;
                        display: block;
                        position: relative;
                        overflow: hidden;
                        margin: 0;
                        width: 90%;
                        max-height: 36px;
                        }
                        .card-description4 {
                        width: 100%;
                        height: 30px;
                        margin-top: 8px;
                        margin: 8px 0 0 8px;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                            .crcl {  
                                margin-right: 12px;  
                                div.crcl1 {
                                    border: 1px solid rgb(75, 31, 31);
                                    box-shadow: inset 0 0 0 5px #f4f4f4;
                                    background-size: 24px;
                                    height: 24px;
                                    width: 24px;
                                    border-radius: 50%;    
                                    position: relative;
                                    margin-right: 15px;
                                    cursor: pointer;   
                                }
                                div.crcl2 {
                                    height: 10px;
                                    width: 10px;
                                    border-radius: 50%;
                                    background-color: rgb(75, 31, 31);
                                    position: absolute;
                                    margin-left: 7px;
                                    margin-top: -17px;  
                                    cursor: pointer;                             
                                }
                                div.crcl3 {
                                    height: 16px;
                                    width: 16px;
                                    border-radius: 50%;
                                    background-color: black;
                                    margin-top: 3px;
                                    margin-right: 12px;
                                    position: relative;
                                    cursor: pointer;
                                }
                                div.crcl4 {
                                    border: 1px solid #232323;
                                    box-shadow: inset 0 0 0 5px #f4f4f4;
                                    background-size: 24px;
                                    height: 31px;
                                    width: 31px;
                                    border-radius: 50%;  
                                    margin-left: -8px;
                                    margin-top: -24px;
                                    display: none;
                                    cursor: pointer;  
                                }
                            }
                    .crcl:hover > div.crcl1 {
                        transform: scale(1.5, 1.5);
                    }
                    .crcl:hover > div.crcl2 {
                        transform: scale(1.5, 1.5);
                    } 
                    .crcl:hover > div.crcl3 {
                        transform: scale(0.7, 0.7);
                    }  
                    .crcl:hover > div.crcl4 {
                        display: block;
                    }       
                        }
                    }
                }
                .pagecontent-history {
                    text-align: center;
                    width: 100%;
                    max-width: 700px;
                    margin-left: auto;
                    margin-right: auto;
                    border-top: 1px solid #e5e5e5;
                    margin-bottom: 35px;
                    p {
                        margin: 15px 0;
                        color: #4c4c4c;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        text-align: left;
                        a {
                            color: #232323;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            text-decoration: none;
                        }
                    }
                    @media (max-width: 540px) {
                        width: 100%;
                        padding: 12px 24px;
                        
                    }
                }
            }
            
        }
        .category-adapt {
                display: none;
            }
        @media (max-width: 992px) {
        width: 100%;
        margin: 0;
        .menu-component {
            padding: 0 0 0 16px;
            margin-top: 10px;
            width: 100%;
        }
        .category {
            display: none;
        }
        .category-adapt {
            display: flex;
            padding: 0 16px;
            margin-bottom: 16px;
            margin-top: 16px;
            width: 100%;
            button.category-adapt-navigation {
                display: flex;
                justify-content: space-between;
                flex: 1;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                padding: 10px 0 10px 10px;
                border: 1px solid #e5e5e5;
                height: 50px;
                width: 100%;
                background-color: #fff;
                cursor: pointer;
                .category-adapt-navigationArrow {
                      display: inline-block;
                      padding-right: 16px;
                      svg {
                          width: 0.5em;
                          transition: transform .3s cubic-bezier(.645,.045,.355,1);
                          transform-origin: center;
                          transform: rotate(270deg);
                          height: 15px;
                    }
                } 
            }
            .filter { 
                button {
                    background-color: #fff;
                    border: 1px solid #e5e5e5;
                    height: 50px;
                    width: 50px;
                    margin: 0;
                    margin-left: 8px;
                    cursor: pointer;
                    svg {
                        width: 0.875em;
                        font-size: 22px;
                    }
                }
                .filterMenu {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    background-color: #fff;
                    position: absolute;
                    z-index: 4;
                    top: 0;
                    left: 0;
                    display: none;  
                    .filter-close {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        border-bottom: 1px solid #e4e2e2;
                        border-top: 1px solid #e4e2e2;
                        width: 100%;
                        button {
                            border: none;
                            font-size: 20px;
                            font-weight: 600;
                            height: 50px;
                            width: 50px;
                        }
                    }
                    .filter-options {
                        width: 100%;
                        height: 100%;
                        .filter-optionsWrapper {
                            padding-left: 30px;
                            .filter-options-group {
                                display: flex;
                                flex-direction: column;
                                .filter-options-groupComponent1 {
                                    display: flex;
                                    justify-content: space-between;
                                    margin-top: 15px;
                                    span {
                                        font-size: 14px;
                                        font-weight: 600;
                                    }
                                    button {
                                        border: none;
                                        display: none;
                                        svg {
                                            transform: rotate(90deg);
                                            width: 15px;
                                            height: 15px;
                                            transition: transform .3s cubic-bezier(.645,.045,.355,1);
                                            transform-origin: center;
                                        }
                                    }
                                }
                                .filter-options-groupComponent2 {
                                    display: flex;
                                    margin-top: 10px;
                                    width: 100%;
                                    div.groupComponent2-container {  
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        background-color: #fff;
                                        border: 1px solid #c9c9c9;
                                        transition: .1s;   
                                        height: 48px;   
                                        width: 120px;
                                        position: relative;
                                        input {
                                                
                                                opacity: 0;
                                                cursor: pointer;
                                        }
                                        label {
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            position: absolute;
                                            text-align: center;
                                            font-size: 14px; 
                                            font-weight: 600;  
                                            width: 100%; 
                                            height: 100%;
                                        }
                                        #checkbox-cont1:checked + label {
                                            background-color: #000;
                                            color: #fff;
                                        }
                                        #checkbox-cont2:checked + label {
                                            background-color: #000;
                                            color: #fff;
                                        }
                                        #checkbox-cont3:checked + label {
                                            background-color: #000;
                                            color: #fff;
                                        }
                                        #checkbox-cont4:checked + label {
                                            background-color: #000;
                                            color: #fff;
                                        }
                                        #checkbox-cont5:checked + label {
                                            background-color: #000;
                                            color: #fff;
                                        }
                                        #checkbox-cont6:checked + label {
                                            background-color: #000;
                                            color: #fff;
                                        }
                                        #checkbox-cont7:checked + label {
                                            background-color: #000;
                                            color: #fff;
                                        }
                                        #checkbox-cont8:checked + label {
                                            background-color: #000;
                                            color: #fff;
                                        }
                                        #checkbox-cont9:checked + label {
                                            background-color: #000;
                                            color: #fff;
                                        }
                                        #checkbox-cont10:checked + label {
                                            background-color: #000;
                                            color: #fff;
                                        }
                                        #checkbox-cont11:checked + label {
                                            background-color: #000;
                                            color: #fff;
                                        }
                                    }
                                    div.groupComponent2-container:hover {
                                        background-color: #000;
                                        color: #fff;
                                        border: 1px solid;
                                    }
                                    
                                }
                                .group-container-size {
                                    width: 41%;
                                }
                            }
                        }
                        .filter-optionsButtons {
                            display: flex;
                            width: 100%;
                            margin-top: 35px;
                            margin-left: -8px;
                            div.optionsButton-clear {
                                width: 50%;
                                height: 52px;
                                button {
                                    width: 100%;
                                    background: #4c4c4c;
                                    color: #fff;
                                    border: none;
                                    border: 1px solid #e5e5e5;
                                }
                                button:hover {
                                    background-color: #818181;
                                }
                            }
                            div.optionsButton-done {
                                width: 50%;
                                height: 52px;
                                button {
                                    width: 100%;
                                    background-color: #232323;
                                    color: #fff;
                                    border: none;
                                    border: 1px solid #e5e5e5;
                                }
                                button:hover {
                                    background-color: #3b3b3b;
                                }
                            }
                        }
                    }
                }
                
            }
            div.filter:hover  div.filterMenu{
                display: flex;
            }
        }
        .navigation-components {
            padding-left: 16px;       
            margin-top: 6px;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            .navigation-component-item {
                padding: 0;
            }
        }
        .filter-dropdown-menu {
            display: none;
        }
        .filter-dropdown-menu-adapt {
            display: flex;
            justify-content: space-between;
            position: relative;
            align-items: center;
            padding: 0 16px;
            margin: 15px 0 15px;
            height: 44px;
            z-index: 3;
            position: sticky;
            top: 47px;
            background-color: #fff;
            width: 100%;
            .filter-number  span{
                font-weight: 400;
                font-size: 14px;
                line-height: 1.5;
                line-height: 1;
            }
            .filter-sort {
                padding: 16px;
                cursor: pointer;
                position: relative;
                button.filter-sort-svg  {
                    display: flex;
                    flex-direction: row;
                    padding: 0;
                    border: none;
                    font-weight: 400;
                    font-size: 14px;
                    background-color: #fff;
                    text-decoration: underline;
                        svg {
                            width: 12px;
                            height: 12px;
                            // margin-left: 5px;
                            margin: 6px 0 0 5px;
                            transform: rotate(270deg);
                            width: 0.5em;
                            transition: transform .3s cubic-bezier(.645,.045,.355,1);
                            transform-origin: center;
                            transform: rotate(270deg);
                            height: 12px;
                            vertical-align: middle;
                            font-size: 22px;
                            text-align: left;
                        }  
                span.filter-sortMenu {
                    position: absolute;
                    box-sizing: border-box;
                    display: flex;
                    background-color: rgb(255, 255, 255);
                    margin-left: -127px;
                    top: 40px;
                    width: 200px;
                    box-shadow: 0 2px 9px 0 rgba(0,0,0,.09);
                    display: none;
                    ul {
                        list-style-type: none;
                        padding-top: 4px;
                        padding-right: 10px;
                        li {
                            text-align: right;
                            padding-top: 15px;
                            font-weight: 400;
                            font-size: 14px;
                            color: #707070;
                        }
                        li:hover {
                            color: #232323;
                        }
                    }
                }                          
                }
                button.filter-sort-svg:hover > svg {
                    transform: rotate(90deg);
                    }
                button.filter-sort-svg:hover > span.filter-sortMenu {
                    display: block;
                }
            }
            
        }
        .pagecontent {
            margin: 0;
            width: 100%;
            .pagecontent-nav {
                display: none;
            }
            .cardshistory {
                width: 100%;
                padding: 0;
                margin: 0;
                margin-top: -15px;
                .pagecontent-cards {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 100%;
                    margin: 0;
                    padding: 0; 
                    
                    
                    .card {
                        padding-left: 0;
                        padding-right: 0;
                        // width: 32%;
                        max-width: 540px;
                        flex: 0 0 32%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        a {
                            padding: 0;
                            margin: 0;
                            width: 100%;
                        }
                        @media (max-width: 540px) {
                            padding: 0 0 32px;
                            flex: 0 0 49%;
                        }
                    }  
                }
               
            }
        }
    }
    }
    
    @import 'blocks/footer';
} 
