body {
    display: flex;
    flex-direction: column;
    margin: 0;
    @import 'blocks/header';
    .sections {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        .container1, .container4, .container7  {
            display: flex;
            position: relative;
            text-align: center;
            width: 100%;
            .container-component-img {
                img {
                   width: 100%;
                }  
            }
            .container-component-title {
                position: absolute;
                top: 50%;
                left: 25%;
                width: 50%;
                color: #fff;
                font-weight: 900;
                font-size: 40px;
                text-transform: uppercase;
                letter-spacing: .5px;
                text-align: center;
            }
        }
        .container2, .container5, .container8 {
            display: flex;
            width: 100%;
            background-color: #f4f4f4;
            .container-component-left {
                display: flex;
                flex: 50%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .container-component-right {
                flex: 50%;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: center;
                text-align: center;
                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    margin-left: 70px;
                    margin-right: 70px;
                }
                a.container-component-button {
                    background-color: #000;
                    font-size: 14px;
                    color: #fff;
                    padding: 15px 40px;
                    text-decoration: none;
                }
                a.container-component-button:hover {
                    background-color: #232323;
                }
            }

        }
        .container3 {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-top: 15px;
            width: 100%;
            p {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                padding-top: 25px;
            }
            img {
                width: 100%;
            }
        }
        .container5 {
            flex-direction: row-reverse;
            background-color: #fff;
        }
        .container6, .container9 {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            background-color: #f4f4f4;
            text-align: center;
            padding-bottom: 30px;
            padding-top: 15px;
            .container-component-titleDetails {
                h2 {
                    font-size: 1.5em;
                }
            }   
                .container-component-detailswrapper {
                    display: flex;
                    flex-direction: row;
                    .container-component-details {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        flex: 33.33%;
                        .component-detail-icon {
                            width: 120px;
                            height: 120px;
                            position: relative;
                            margin-left: auto;
                            margin-right: auto;
                            text-align: center;
                            svg.iconOverlay {
                                position: absolute;
                                top: 0;
                                left: 0;
                                padding-top: 10px;
                            }
                        }
                        h3.container-component-headingDetails {
                            padding: 15px 0 30px;
                            font-size: 1.17em;
                        }
                        p {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 1.5;
                            margin-left: 70px;
                            margin-right: 70px;
                        }
                    }
                }
        } 
        .container8 {
            background-color: #fff;
            p.container8-component-right-heading {
                font-size: 150px;
                font-weight: 600;
                text-align: center;
            }
            p.container8-component-right-locations {
                font-size: 38px;
                font-weight: 600;
                margin-top: -45px;
            }
            a.container-component-button {
                margin-top: 10px;
            }
        }
        .container9 {
            a.container9-component-button {
                background-color: #000;
                font-size: 14px;
                color: #fff;
                padding: 15px 40px;
                text-decoration: none;
                margin-top: 30px;
            }
            a.container9-component-button:hover {
                background-color: #232323;
            }
        }
    }
    @import 'blocks/footer'; 
} 
