body {
    display: flex;
    flex-direction: column;
        header {
            display: flex;
            flex-direction: column; 
            color: #fff;
            font-weight: 600;
            position: relative;
            width: 100%;
                .header-top {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    width: 100%;
                    height: 100%;
                    max-height: 60px;
                    font-size: 13px;
                    position: absolute;
                    z-index: 1;
                        .header-location {
                            margin-bottom: 8px;
                            align-self: center;
                            font-weight: 600;
                            padding-left: 24px;
                            cursor: pointer;
                            a {
                                font-size: 13px;
                                text-decoration: none;
                                color: #fff;
                            }
                    }
                    .header-title {
                        margin-left: 400px;
                        font-weight: 900;
                        align-self: center;
                            svg {
                                width: 198px;
                                height: 30px;
                                g {
                                    fill: #fff;
                                }
                        } 
                    }
                    .header-search-login-cart {
                        display: flex;
                        color: #fff;
                        align-self: center;
                        position: relative;
                            .search {
                                border-bottom: 1px solid;
                                display: flex;
                                align-items: center;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                width: 250px;
                                margin-left: 15px;
                                    input {
                                        border: none;
                                        background: rgba(255, 255, 255, 0);
                                        margin-left: 10%;
                                        width: 100%;
                                    }
                                    svg {
                                        position: absolute;
                                        right: 440px;
                                        width: 1.5em;
                                    }
                            }
                            a {
                                margin-top: 10px;
                                text-decoration: none;
                                color: #fff;
                                margin-left: 15px;
                            }
                            .login {
                                padding-left: 10px;
                                margin-left: 15px;
                                .btn.btn-secondary.dropdown-toggle {
                                      margin-top: 10px;
                                      border: none;
                                      padding: 0 8px;
                                      text-decoration: none;
                                      background-color: #fff;
                                      cursor: pointer;
                                      font-weight: 600;
                                      font-size: 13px;
                                      color: #fff;
                                      background: rgba(255, 255, 255, 0);
                                    }
                                    .dropdown-menu {
                                        margin: 15px 43px 5px 0;
                                        border-radius: 0;
                                        box-shadow: 0 0 10px rgba(0,0,0,0.5);
                                        a.dropdown-item {
                                            color: #000;
                                            padding-left: 0;
                                            width: 100%;
                                            background: none;
                                            cursor: pointer;
                                            width: 20px;
                                            color: rgb(150, 149, 149); 
                                        }
                                        hr {
                                                width: 150px;
                                                text-align: center;
                                            }
                                    }    
                            }
                            svg {
                                margin-right: 15px;
                            }
                    }
                }
                .header-nav {
                    display: flex;
                    justify-content: center;
                    margin: 50px 0 0 0;
                    padding-top: 10px;
                    z-index: 1;
                    list-style: none;
                    position: relative;
                    width: 100%;
                        ul {
                            list-style: none;
                            display: flex;
                            width: 100%;
                            margin: 0;
                            li {
                                a {
                                    text-decoration: none;
                                    color: #fff;
                                    padding: 0 10px;
                                    font-size: 14px;
                                }
                            }
                            .header-nav-menu {
                                display: flex;
                                justify-content: center;
                                position: absolute;
                                z-index: 1;
                                width: 100%;
                                margin-left: -581px;
                                background-color: #fff;
                                display: none;
                                .menu-a {
                                    display: flex;
                                    flex-direction: column;
                                    margin: 20px 30px;
                                    padding-right: 30px;
                                    text-align: right;
                                    border-right: 1px solid #e5e5e5;
                                    a {
                                        margin: 8px 0;
                                        color: #000;
                                        font-weight: 400;
                                        font-size: 14px;
                                    }
                                }
                                .menu-img {
                                    img {
                                    padding: 20px 0;
                                    position: relative;
                                    }
                                    .imgtext {
                                        text-align: center;
                                        position: absolute;
                                        color: #fff;
                                        font-size: 24px;
                                        font-weight: 600;
                                        cursor: pointer;
                                        margin: -265px;
                                        margin-left: 95px;
                                        span {
                                            text-shadow: 2px 2px 6px rgba(0,0,0,.38039);
                                        }
                                        }

                                    }
                                }
                                .menu1-a {
                                    display: flex;
                                    flex-direction: column;
                                    margin: 20px 30px;
                                    padding-right: 30px;
                                    text-align: right;
                                    h3 {
                                        font-weight: 700;
                                        font-size: 12px;
                                        color: #000;
                                    }
                                    a {
                                        margin: 8px 0;
                                        color: #000;
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 14px;
                                    }
                                }
   
                        .alignblock1 {
                            width: 100%;
                            background-color: #fff;
                            right: 0;
                            text-align: left;
                            transition: height .3s,opacity .3s;
                        }  
                        .alignblock2 {
                            width: 100%;
                            background-color: #fff;
                            right: 0;
                            text-align: left;
                        }
                        .alignblock3 {
                            width: 100%;
                            background-color: #fff;
                            right: 0;
                            text-align: left;
                        }  
                        .alignblock4 {
                            width: 100%;
                            background-color: #fff;
                            right: 0;
                            text-align: left;
                        }
                        .alignblock5 {
                            width: 100%;
                            background-color: #fff;
                            right: 0;
                            text-align: left;
                        }
                        .alignblock6 {
                            width: 100%;
                            background-color: #fff;
                            right: 0;
                            text-align: left;
                        }
                        .alignblock7 {
                            width: 100%;
                            background-color: #fff;
                            right: 0;
                            text-align: left;
                        }
                        .alignblock8 {
                            width: 100%;
                            background-color: #fff;
                            right: 0;
                            text-align: left;
                        }
                    }
                }
                .header-top-adapt {
                    position: absolute;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    color: #000;
                    z-index: 2;
                    width: 100%;
                    background-color: #fff;
                    height: 50px;
                    display: none;
                    .header-top-adaptMenuSearch {
                        display: flex;
                        button.adaptMenu, button.adaptSearch{
                            display: block;
                            padding: 0 8px 0 8px;
                            border: 0;
                            background-color: #fff;
                            position: relative;
                            svg {
                                width: 0.875em;
                                font-size: 22px;
                                height: 1em;
                                color: #000;
                                path {
                                fill: #000;
                                }
                            }
                        }
                    
                        .nav-bar {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        position: fixed;
                        z-index: 3;
                        height: 60px;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        height: 100%;
                        width: 480px;
                        color: #232323;
                        background-color: #fff;
                        transition: left .2s cubic-bezier(.645,.045,.355,1);
                        align-items: center;
                        overflow: scroll;
                        display: none;
                        .nav-bar-search {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            height: 60px;
                            line-height: 60px;
                            width: 100%;
                            .nav-bar-searchIcon {
                                top: 46px;
                                left: 0;
                                bottom: 0;
                                padding: 0;
                                border-right: 1px solid #e0dfdf;
                                border-bottom: 1px solid #e0dfdf;
                                width: 88%;
                                svg {
                                    width: 182px;
                                    height: 20px;
                                    font-size: 22px;
                                    position: absolute;
                                    left: -65px;
                                    top: 19px;
                                }
                                input#search-input {
                                    padding-left: 48px;
                                    height: 59px;
                                    background-color: #fff;
                                    width: 100%;
                                    border: 0;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                }
                            }
                            button.close {
                                height: 60px;
                                line-height: 60px;
                                min-width: 50px;
                                display: flex;
                                font-weight: 600;
                                font-size: 14px;
                                border: none;
                                padding: 0 16px;
                                svg {
                                    height: 20px;
                                    width: 0.625em;
                                    color: #707070;
                                    font-size: 22px;
                                    pointer-events: none;
                                }
                            }
                        
                        }
                        .nav-bar-components {
                            width: 100%;
                            padding-bottom: 8px;
                            background-color: #f4f4f4;
                            border-top: 1px solid #e0dfdf;
                            ul {
                                margin: 0;
                                padding: 0;
                                list-style-type: none;
                                li {
                                    display: flex;
                                    flex-direction: row;
                                    font-size: 14px;
                                    button {
                                        display: flex;
                                        align-items: center;
                                        padding: 8px 16px;
                                        width: 100%;
                                        text-align: left;
                                        min-height: 60px;
                                        font-size: 16px;
                                        color: #4c4c4c;
                                        background-color: #fff;
                                        border: none;
                                        border-bottom: 1px solid #e0dfdf;
                                        cursor: pointer;
                                        .nav-bar-img {
                                            img {
                                                width: 50px;
                                            height: 50px;
                                            border-radius: 50%;
                                            font-size: 16px;
                                            }
                                        }
                                        span {
                                            padding-left: 16px;
                                            font-size: 16px;
                                        }
                                        svg {
                                            width: 0.5em;
                                            margin-left: auto;
                                            font-size: 16px;
                                        }
                                    }
                                }
                            } 
                            .nav-bar-componentsBottom {
                            width: 100%;
                            ul {
                                margin: 0;
                                padding: 0;
                                list-style-type: none;
                                font-size: 14px;
                                text-align: left;
                                padding: 8px 16px;   
                                li, .li-padding {
                                    font-weight: 400;
                                    font-size: 16px;
                                    color: #333;
                                    line-height: 1.5;
                                    margin-top: 7px;
                                    a {
                                        color: #333;
                                        padding: 16px 24px 0;
                                        text-decoration: none;
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 16px;
                                    }
                                }
                                li.li-padding {
                                    padding-top: 16px;
                                }
                            }
                        }
                        }
                        }

                    }
                  
                    .header-top-adaptTitle {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        svg {    
                            width: 125px;
                            height: 30px;
                            margin-top: 0;
                        }
                    }
                    .header-top-adaptSignIn {
                        height: 100%;
                        button.adaptSignIn {
                            border: none;
                            padding: 0 8px;
                            border-radius: 0;
                            background-color: #fff;
                            height: 100%;
                            a {
                                text-decoration: none;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                color: #232323;
                            }
                        }
                        .adaptBasket {
                            border: 0;
                            background-color: #fff;
                            font-weight: 400;
                            font-size: 21px;
                            svg {
                            width: 0.875em;
                            height: 100%;
                            }
                        }
                    }

                }
                .header-top-mobile {
                    position: relative;
                    z-index: 1;
                    display: flex;
                    padding: 10px 5px;
                    background-color: #fff;
                    overflow: scroll;
                    overflow-y: hidden;
                    display: none;
                    div {
                        margin-left: 17px;
                        a {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            text-align: center;
                            text-decoration: none;
                            color: #232323;
                            img {
                                border-radius: 50%;
                                position: relative;
                                z-index: 1;
                                width: 60px;
                                height: 60px;
                            }
                            span {
                                font-size: 12px;
                                font-weight: 600;
                            }
                        }
                    }
                }
                .header-nav a:hover {
                    text-decoration: underline;
                }
                .header-nav li.nv-new:hover > .header-nav-menu {
                        content: '';
                        display: flex;
                    }
                .header-nav .nv-clothing:hover > .header-nav-menu.alignblock1 {
                    content: '';
                    display: flex;
                    
                }
                .header-nav .nv-pantsjeans:hover > .header-nav-menu.alignblock2 {
                    content: '';
                    display: flex;
                }
                .header-nav .nv-shirts:hover > .header-nav-menu.alignblock3 {
                    content: '';
                    display: flex;
                }
                .header-nav .nv-sweetersouterwear:hover > .header-nav-menu.alignblock4 {
                    content: '';
                    display: flex;
                }
                .header-nav .nv-suitsblazers:hover > .header-nav-menu.alignblock5 {
                    content: '';
                    display: flex;
                }
                .header-nav .nv-golf:hover > .header-nav-menu.alignblock6 {
                    content: '';
                    display: flex;
                }
                .header-nav .nv-accessories:hover > .header-nav-menu.alignblock7 {
                    content: '';
                    display: flex;
                }
                .header-nav .nv-finalsale:hover > .header-nav-menu.alignblock8 {
                    content: '';
                    display: flex;
                }
                
            header:hover .header-nav{
                content: '';
                background-color: #fff;
                a {
                    color: #000;
                }
            }  
            @media (max-width: 992px) {
                .header-top-adapt {
                    display: flex;
                    position: relative;         
                    button.adaptSearch:focus + div.nav-bar {
                        display: flex;
                    }
                    button.adaptMenu:focus ~ div.nav-bar {
                        display: flex;
                    }
                }
                .header-nav, .header-top {
                    display: none;
                }
            }
            @media (max-width: 540px) {
                .header-top-mobile {
                    display: flex;
                }
            }
        } 
        header:hover > .header-top {
            background-color: #fff;
            transition: color .3s,background-color .3s;
            color: #000;
            .header-title svg g {
                fill: #000;
            }
            .header-location a {
                color: #000;
            }
            .header-search-login-cart {
                .search svg path {
                    stroke: #000;
                    color: #000;
                }
                .search {
                    color: #000;
                    svg line {
                    stroke: #000;
                    }
                }
                a {
                    color: #000;
                }
                .btn.btn-secondary.dropdown-toggle {
                    color: #000;
                }
                div.cart svg { 
                    g path{
                    stroke: #000;
                    }
                    path {
                        stroke: #000;
                        color: #000;
                    }
                }
            }
        }
        header:hover > .header-nav{
            background-color: #fff;
            transition: color .3s,background-color .3s;
            a {
                color: #000;
            }
        }                 
        .carousel.slide {
                position: absolute;
                width: 100%;
                height: 100%;
                .carousel-inner {
                    position: relative;
                    .circle-slide-button {
                        display: grid;
                        grid-template-rows: 50px;
                        grid-template-columns: 5% 10% 85%;
                        z-index: 1;
                        position: relative;
                        margin-top: 40%;
                            .circle {
                                justify-self: center;
                                svg {
                                    height: 35px;
                                    position: absolute; 
                                    color: #fff;
                                    animation-duration: 3s;
                                    animation-name: circle;
                                    animation-iteration-count: infinite;
                                    animation-direction: alternate;
                                    animation-timing-function: ease-in-out;
                                    @media (max-width: 992px) {
                                        height: 23px;
                                    }
                                }
                                @keyframes circle {
                                    from { margin-top: 0; }
                                    to { margin-top: 10px; }
                                }
                            }
                            .explore {
                                justify-self: start;
                                align-self: center;
                                color: #fff;
                                @media (max-width: 992px) {
                                    align-self: flex-start;
                                    margin: 5px 0 0 5px;
                                }
                                span {
                                    font-family: 'PT Sans Caption', sans-serif;
                                    font-size: 12px;
                                    font-weight: 800;
                                }
                            }
                            .buttons {
                                justify-self: end;
                                margin: 10px 30px;
                                    button {
                                        border-radius: 50%;
                                        height: 12px;
                                        border: 1px solid #fff;
                                        margin-left: 5px;
                                        background: rgba(255, 255, 255, 0);   
                                    }
                                    .btnslider1 {
                                        background: #707070;
                                        }
                            }
                    }  
                }
                    .carousel-item.active {
                        img {
                            width: 100%;
                        }
                        width: 100%;
                    }
                    .carousel1 {
                               section {
                                position: absolute;
                                top: 40%;
                                left: 60%;
                                font-family: 'Archivo Black', sans-serif;
                                font-weight: 900;
                                font-size: 40px;
                                color: #fff;
                                text-align: center;
                                div.btn {
                                    margin: 15px;
                                    padding: 15px 24px;
                                    background-color: #fff;
                                    border-radius: 0;
                                        a {
                                            text-decoration: none;
                                            font-family: 'PT Sans Caption', sans-serif;
                                            font-weight: 600;
                                            color: #000;
                                            font-size: 14px;
                                            color: rgb(83, 82, 82);
                                        }
                                }
                            }
                    }
                    @media (max-width: 992px)  {
                        .carousel-item.active.carousel1 {
                            section {
                                font-size: 25px;
                                top: 35%;
                                width: 60%;
                                padding-right: 28%;
                            }
                        }
                    }
                .carousel3 {
                    .carousel3-content {
                        position: absolute;
                        text-align: center;
                        top: 35%;
                        left: 30%;
                        font-weight: 900;
                        font-size: 40px;
                        color: #fff;
                        cursor: pointer;
                            div {
                                margin-top: 5px;
                                a {
                                    text-decoration: none;
                                    font-family: 'PT Sans Caption', sans-serif;
                                    font-weight: 600;
                                    color: #000;
                                    font-size: 14px;
                                    background-color: #fff;
                                    padding: 15px 24px;
                                    color: rgb(83, 82, 82);
                                }
                            }
                    }
                }
                @media (max-width: 992px) {
                    .carousel3-content {
                        span {
                            font-size: 25px;
                            font-weight: 800;
                        }
                    }
                }
                .carousel-control-prev {
                    margin: 100px 0;
                }
                .carousel-control-next {
                    margin: 100px 0;
                }
                a.carousel-control-next:focus + div.circle-slide-button  button.btnslider1 {
                    background: rgba(255, 255, 255, 0);
                }
                a.carousel-control-next:focus + div.circle-slide-button  button.btnslider2 {
                    background: #707070;
                }
       
        }
        .carousel-adapt-mobile {
            display: block;
            position: relative;
            z-index: 1;
            width: 100%;
            display: none;
            img {
                width: 100%;
                height: 100%;
                display: block;
                
            }
            section {
                position: absolute;
                left: 25%;
                top: 38%;
                text-align: center;
                div.carousel-text-mob {
                    font-size: 24px;
                    font-weight: 900;
                    color: #fff;
                }
                div.btn {
                    background-color: #fff;
                    border-radius: 0;
                    padding: 10px 24px;
                    height: 48px;
                    margin-top: 15px;
                    a {
                        color: #232323;
                        font-weight: 700;
                        font-size: 14px;
                    }
                }
            }
            .circle-slide-button {
                position: absolute;
                margin-top: -50px;
                margin-left: 20px;
                .circle {
                    justify-self: center;
                    svg {
                        height: 22px;
                        position: absolute; 
                        color: #fff;
                        animation-duration: 3s;
                        animation-name: circle;
                        animation-iteration-count: infinite;
                        animation-direction: alternate;
                        animation-timing-function: ease-in-out;
                    }
                    @keyframes circle {
                        from { margin-top: 0; }
                        to { margin-top: 10px; }
                    }
                }
                .explore {
                    justify-self: start;
                    align-self: center;
                    color: #fff;
                    margin-left: 30px;
                    span {
                        font-family: 'PT Sans Caption', sans-serif;
                        font-size: 12px;
                        font-weight: 800;
                    }
                }
            }
        }
         @media (max-width: 540px) {
            .carousel.slide {
                display: none;
            }
            .carousel-adapt-mobile {
                display: block;
            }
        }
        .img-components {
            margin-top: 40%;
            display: flex;
            flex-direction: column;
            flex-shrink: 2;
            flex-grow: 2;
            min-height: 100vh;
            position: relative;
            z-index: -1;
            .img-component1 {
                display: flex;
                justify-content: space-between;
                margin: 16px 0;
                div {
                    display: block;
                    width: 100%;
                    position: relative;
                    text-align: center;
                    min-height: 180px;
                    width: calc(33% - 8px);
                    img {
                        display: block;
                        width: 100%;
                    }
                    a {
                        position: absolute;
                        z-index: 2;
                        top: 52%;
                        left: 35%;
                        background-color: #fff;
                        padding: 15px 24px;
                        color: rgb(83, 82, 82);
                        font-family: 'PT Sans Caption', sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        text-transform: capitalize;
                        font-size: 14px;
                        text-decoration: none;
                    } 
                }

            }
            .img-component2 {
                display: flex;
                justify-content: space-between;
                margin: 0 0 16px;
                div {
                    display: block;
                    width: 100%;
                    min-height: 180px;
                    position: relative;
                    text-align: center;
                    width: calc(50% - 8px);
                    img {
                        display: block;
                        width: 100%;
                    }
                    a {
                        position: absolute;
                        z-index: 1;
                        top: 52%;
                        left: 40%;
                        background-color: #fff;
                        padding: 15px 24px;
                        color: rgb(83, 82, 82);
                        font-family: 'PT Sans Caption', sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        text-transform: capitalize;
                        font-size: 14px;
                        text-decoration: none;
                    }
                }
            }
            .img-component3 {
                div {
                    display: block;
                    min-height: 180px;
                    position: relative;
                    text-align: center;
                    width: 100%;
                    img {
                        display: block;
                        width: 100%;
                    }
                    a {
                        position: absolute;
                        z-index: 1;
                        top: 52%;
                        left: 25%;
                        background-color: #fff;
                        padding: 15px 24px;
                        color: rgb(83, 82, 82);
                        font-family: 'PT Sans Caption', sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        text-transform: capitalize;
                        font-size: 14px;
                        text-decoration: none;
                    }
                }
            }
    }
    @media (max-width: 992px)  {
        .img-components {
            margin-top: 39%;
            .img-component1 {
                div a {
                    left: 23%;
                    top: 42%;
                }
            }

        }
    }
    @media (max-width: 540px) {
        .img-components {
            flex-direction: column;
            margin-top: 0;
            .img-component1 {
                flex-direction: column;
                width: 100%;
                div {
                    width: 100%;
                    margin-bottom: 8px;
                    img {
                        min-height: 180px;
                        width: 100%;
                    }
                }
            }
            .img-component2 {
                flex-direction: column;
                width: 100%;
                div {
                    width: 100%;
                    margin-bottom: 8px;
                    img {
                        min-height: 180px;
                        width: 100%;
                    }
                }
            }
            .img-component3 {
                div a {
                    top: 35%;
                    left: 5%;
                }
            }
        }
    }
    .details {
        display: flex;
        text-align: center;
        margin: 16px 0;
        .detail {
            padding: 24px;
            width: 40%;
            margin: 0 auto;
            span {
                font-weight: 500;
                font-size: 18px;
                line-height: 1.5;
                color: #232323;
                margin-bottom: 24px;
            }
            p {
                font-style: normal;
                font-size: 14px;
                line-height: 1.5;
                margin: 20px 0;
            }
            a {
                font-weight: 700;
                color: #232323;
                font-style: normal;
                font-size: 14px;
                line-height: 1.5;
            }
        }
        @media (max-width: 540px) {
            flex-direction: column;
            width: 100%;
            .detail {
                width: 100%;
            }
        }
    }
    @import 'blocks/footer';
} 
