footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #232323;
  padding: 48px 32px;
  color: #fff;
}

footer .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33%;
}

footer .footer-social .footer-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 16px;
  width: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-social .footer-social-icons a {
  font-size: 22px;
  width: 1em;
  color: #707070;
}

footer .footer-social .footer-social-icons a .instagram {
  width: 0.875em;
}

footer .footer-social .footer-social-icons a .instagram:hover path {
  fill: #fff;
}

footer .footer-social .footer-social-icons a .facebook {
  width: 0.625em;
}

footer .footer-social .footer-social-icons a .facebook:hover path {
  fill: #fff;
}

footer .footer-social .footer-social-icons a .twitter {
  width: 1em;
}

footer .footer-social .footer-social-icons a .twitter:hover path {
  fill: #fff;
}

footer .footer-social .footer-social-icons a .youtube {
  width: 1.125em;
}

footer .footer-social .footer-social-icons a .youtube:hover path {
  fill: #fff;
}

footer .footer-social .footer-social-blog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 70%;
      grid-template-columns: 100px 70%;
  -ms-grid-rows: 100px;
      grid-template-rows: 100px;
  width: 100%;
}

footer .footer-social .footer-social-blog img {
  width: 100px;
  min-width: 100px;
  height: 100px;
  display: block;
  margin-right: 16px;
}

footer .footer-social .footer-social-blog .guidbook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 5px 16px;
}

footer .footer-social .footer-social-blog .guidbook span {
  font-weight: 700;
  margin-bottom: 5px;
}

footer .footer-social .footer-social-blog .guidbook p {
  font-weight: 400;
  color: #c9c9c9;
  margin-bottom: 5px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
}

footer .footer-social .footer-social-blog .guidbook a {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 8px;
  color: #fff;
  text-decoration: underline;
}

footer .footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 33%;
}

footer .footer-link div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

footer .footer-link div a {
  margin: 8px 0;
  color: #f4f4f4;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 1.5;
}

footer .footer-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  position: relative;
}

footer .footer-email form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

footer .footer-email form #befirst {
  color: #f4f4f4;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 8px;
}

footer .footer-email form p {
  color: #c9c9c9;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

footer .footer-email form .emailplus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-email form .emailplus input.form-control {
  position: relative;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  display: inline-block;
  text-transform: none;
  padding: 8px 10px;
  margin-top: 10px;
  height: 50px;
  border-radius: 0;
  width: 30vw;
}

footer .footer-email form .emailplus label#emailaddress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #707070;
  margin-top: -60px;
  position: absolute;
  padding: 23px 0 0 12px;
  display: block;
}

footer .footer-email form .emailplus button {
  border: 1px solid transparent;
  border-radius: 0;
  background: #4c4c4c;
  height: 50px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  width: 100%;
  width: 50px;
}

footer .footer-email form .emailplus button svg {
  width: 0.75em;
  overflow: visible;
}

footer .footer-email form .emailplus input.form-control:focus + label#emailaddress {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #707070;
  margin-top: -63px;
  position: absolute;
  padding: 11px 0 0 12px;
  display: block;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

footer .footer-email form div small {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  padding: 16px 0;
  width: 80%;
}

footer .footer-email form div small span {
  color: #c9c9c9;
}

footer .footer-email form div small span a {
  color: #c9c9c9;
  text-decoration: underline;
}

@media (max-width: 992px) {
  .header-top-adapt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
}
/*# sourceMappingURL=footer.css.map */